body {
    background-image: linear-gradient(45deg, #30cfd0 0%, #330867 100%);
}

header {
    display: flex;
    width: 100%;
}

.nav-lista {
    display: flex;
    list-style: none;
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    gap: 28px;

}

.nav-item.nav-item:houver {
     cursor: pointer;
     background-color: magenta;
     color: white;
}